.gnote-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.gnote-search-entry-icon {
    icon-size: 1em;
    color: #8d8f8a;
    transition-duration: 300ms;
}

.gnote-search-entry-icon:hover {
    icon-size: 1em;
    color: #3465a4;
    transition-duration: 300ms;
}

.gnote-search-entry-icon:active {
    icon-size: 1em;
    color: rgba(0, 0, 255, 1);
    transition-duration: 300ms;
}

.gnote-search-entry {
    color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    font-size: 12pt;
    caret-size: 1px;
    selected-color: white;
    padding: 4px 12px;
    border: 2px solid rgba(245, 245, 245, 0.2);
    background-gradient-start: rgba(5, 5, 6, 0.1);
    background-gradient-end: rgba(254, 254, 254, 0.1);
    background-gradient-direction: vertical;
    transition-duration: 300ms;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.gnote-search-entry:hover {
    transition-duration: 300ms;
    border: 2px solid #3465a4;
}

.gnote-search-entry:focus {
    transition-duration: 300ms;
    border: 2px solid #3465a4;
}

.gnote-list-view-status-label {
    font-size: 30px;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.gnote-list-view-box {
    spacing: 5px;
}

.gnote-list-view-scrollbox {
    padding-top: 10px;
}

.gnote-list-view-scrollbox StScrollView.vfade {
    -st-vfade-offset: 60px;
}

.gnote-list-view-scrollbox StScrollView.hfade {
    -st-hfade-offset: 60px;
}

.gnote-list-view-scrollbox StScrollView StScrollBar {
    min-width: 8px;
    min-height: 8px;
}

.gnote-list-view-scrollbox StScrollBar StBin#trough {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.gnote-list-view-scrollbox StScrollBar StBin#vhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gnote-list-view-scrollbox StScrollBar StBin#hhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gnote-list-view-scrollbox StScrollBar StBin#hhandle:hover,
.gnote-list-view-scrollbox StScrollBar StBin#vhandle:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gnote-list-view-scrollbox StScrollBar StBin#hhandle:active,
.gnote-list-view-scrollbox StScrollBar StBin#vhandle:active {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gnote-item-box {
    padding: 3px;
    color: #C4C4C4;
    background-color: #545353;
    border: 1px solid #9C9C9C;
    transition-duration: 250ms;
}

.gnote-item-box:hover {
    background-color: #3465a4;
    color: white;
    transition-duration: 20ms;
}

.gnote-item-box:active {
    background-color: #0D4CA3;
    color: white;
    transition-duration: 50ms;
}

.gnote-buttons-bar-icon {
    icon-size: 16px;
}

.gnote-button {
    padding-right: 4px;
    padding-top: 2px;
    color: #C4C4C4;
}

.gnote-button:hover {
    color: #3465a4;
}

.gnote-button:active {
    color: #0D4CA3;
}

.gnote-confirm-dialog-box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gnote-confirm-dialog-label {
    padding: 5px;
    size: 20px;
}

.gnote-confirm-dialog-button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    size: 20px;
    color: white;
    transition-duration: 300ms;
}

.gnote-confirm-dialog-button:hover {
    color: #3465a4;
    transition-duration: 300ms;
}

.gnote-statusbar-box {
    padding: 3px;
    font-size: 18px;
    color: rgba(150, 150, 150, 1);
}

.gnote-shortcut-label {
    background-color: rgba(52, 101, 164, 0.8);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 2px 5px 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.gnote-title-label {
    font-weight: bold;
    font-size: 17px;
}

.gnote-snippet-label {
    font-size: 14px;
    padding-left: 10px;
}

.gnote-date-label {
    font-size: 12px;
}

.gnote-note-view-box {
    padding: 5px;
    color: #C4C4C4;
    background-color: #545353;
    border: 1px solid #9C9C9C;
}

.gnote-note-view-box StScrollView.vfade {
    -st-vfade-offset: 60px;
}

.gnote-note-view-box StScrollView.hfade {
    -st-hfade-offset: 60px;
}

.gnote-note-view-box StScrollView StScrollBar {
    min-width: 8px;
    min-height: 8px;
}

.gnote-note-view-box StScrollBar StBin#trough {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.gnote-note-view-box StScrollBar StBin#vhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gnote-note-view-box StScrollBar StBin#hhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gnote-note-view-box StScrollBar StBin#hhandle:hover,
.gnote-note-view-box StScrollBar StBin#vhandle:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gnote-note-view-box StScrollBar StBin#hhandle:active,
.gnote-note-view-box StScrollBar StBin#vhandle:active {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gnote-note-view-contents {
    selection-background-color: #bbbbbb;
    selected-color: #333333;
}

.gnote-entry-menu-item {
    color: rgba(255, 255, 255, 0.8);
    caret-color: rgba(255, 255, 255, 0.8);
    font-size: 12pt;
    caret-size: 1px;
    selected-color: white;
    padding: 4px 12px;
    border: 2px solid rgba(245, 245, 245, 0.2);
    background-gradient-start: rgba(5, 5, 6, 0.1);
    background-gradient-end: rgba(254, 254, 254, 0.1);
    background-gradient-direction: vertical;
    transition-duration: 300ms;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.gnote-pinned-note-icon-inactive {
    padding-right: 4px;
    padding-top: 2px;
    color: rgb(64, 64, 64);
    icon-size: 15px;
}

.gnote-pinned-note-icon-active {
    padding-right: 4px;
    padding-top: 2px;
    color: rgb(0, 255, 0);
    icon-size: 20px;
}

.gnote-snippet-buttons-box {
    size: 11px;
    padding-right: 10px;
}

.gnote-snippet-buttons-bar-icon {
    icon-size: 15px;
}

.gnote-snippet-buttons-bar-button {
    padding-right: 4px;
    padding-top: 2px;
    color: rgba(64, 64, 64, 1);
}

.gnote-snippet-buttons-bar-button:hover {
    color: rgba(255, 64, 64, 1);
}

.gnote-snippet-buttons-bar-button:active {
    color: rgba(255, 0, 0, 1);
}

.gnote-snippet-buttons-bar-toggle-button {
    padding-right: 4px;
    padding-top: 2px;
    color: rgba(64, 64, 64, 1);
}

.gnote-snippet-buttons-bar-toggle-button:hover {
    color: rgba(120, 255, 120, 1);
}

.gnote-snippet-buttons-bar-toggle-button:active {
    color: rgba(0, 255, 0, 1);
}

.desktop-note-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.desktop-note-toolbar-box {
    padding: 5px;
}

.desktop-note-toolbar-icon {
    icon-size: 17px;
}

.desktop-note-resize-icon {
    icon-size: 12px;
}

.desktop-note-toolbar-button {
    padding-left: 5px;
    color: grey;
}

.desktop-note-toolbar-button:hover {
    color: white;
}

.desktop-note-title {
    padding-bottom: 5px;
}

.desktop-note-content {
    selected-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.desktop-note-date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.desktop-note-scrollbox {
}

.desktop-note-scrollbox StScrollView.vfade {
    -st-vfade-offset: 60px;
}

.desktop-note-scrollbox StScrollView.hfade {
    -st-hfade-offset: 60px;
}

.desktop-note-scrollbox StScrollView StScrollBar {
    min-width: 8px;
    min-height: 8px;
}

.desktop-note-scrollbox StScrollBar StBin#trough {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.desktop-note-scrollbox StScrollBar StBin#vhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.desktop-note-scrollbox StScrollBar StBin#hhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.desktop-note-scrollbox StScrollBar StBin#hhandle:hover,
.desktop-note-scrollbox StScrollBar StBin#vhandle:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.desktop-note-scrollbox StScrollBar StBin#hhandle:active,
.desktop-note-scrollbox StScrollBar StBin#vhandle:active {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.desktop-note-color-chooser-box {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 1);
}

.desktop-note-color-box {
    width: 50px;
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
}

.desktop-note-color-button {
    width: 45px;
    height: 30px;
}

.desktop-note-page-chooser-box {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 1);
}

.desktop-note-page-chooser-button {
    
}

.desktop-note-page-chooser-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.desktop-note-page-chooser-button:selected {
    background-color: rgba(255, 255, 255, 0.4);
}

.desktop-notes-page-indicators {

}

.desktop-notes-page-indicator {
    padding: 3px 5px;
}

.desktop-notes-page-indicator .desktop-notes-page-indicator-icon {
    width: 18px;
    height: 18px;
    background-image: url(images/page-indicator-inactive-has-items.svg);
}

.desktop-notes-page-indicator:empty .desktop-notes-page-indicator-icon {
    background-image: url(images/page-indicator-inactive.svg);
}

.desktop-notes-page-indicator:hover .desktop-notes-page-indicator-icon {
    background-image: url(images/page-indicator-hover.svg);
}

.desktop-notes-page-indicator:active .desktop-notes-page-indicator-icon {
    background-image: url(images/page-indicator-active.svg);
}

.desktop-notes-page-indicator:checked .desktop-notes-page-indicator-icon,
.desktop-notes-page-indicator:checked:active .desktop-notes-page-indicator-icon {
    background-image: url(images/page-indicator-checked.svg);
}
